mixin comment (avatar, name, text)
    .comments__item
        .row.row-comments-top
            .col-2
                img.comments__avatar(
                    src=avatar
                )

            .col-8
                h3.comments__name=name
            .col-2
                img.twitter(
                    src="assets/img/twitter.svg"
                )
        .row
            p.comments__text=text